{{yield}}

<h2> Edit {{device.name}}</h2>
<div>
  {{input value=device.name placeholder="Name"}}
</div>
<div>
  {{input value=device.url placeholder="url"}}
</div>
<div>
  <input type="submit" {{action "edit"}} value="Edit Device">
  <button {{action "cancel"}}>Cancel</button>
</div>
